APP_NAME=monitoring-stack-demo
APP_ENV=dev
APP_DB_PATH=/app/data/app.db
TICKET_OVERDUE_AFTER_HOURS=24
LOG_LEVEL=INFO
JSON_LOGS=1
OTEL_TRACING_ENABLED=1
OTEL_SERVICE_NAME=monitoring-stack-demo-app
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
REQUEST_ID_HEADER=X-Request-ID

INFLUX_ENABLED=1
INFLUX_URL=http://influxdb:8086
INFLUX_TOKEN=supersecrettoken
INFLUX_ORG=my-org
INFLUX_BUCKET=app

INFLUX_INIT_USERNAME=admin
INFLUX_INIT_PASSWORD=admin12345

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin12345
